language: php
sudo: false

matrix:
  fast_finish: true
  include:
    - php: 7.1
    - php: 7.2
    - php: nightly
  allow_failures:
    - php: nightly

script: "composer install && phpunit tests && php example.php"
